body, html
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: rgb(187, 187, 187);
    font-size: 18px;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form
{
    display: flex;
    flex-direction: column;
}

#questions_block
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

label
{
    text-align: center;
    margin-top: 20px;
}

input, select, textarea
{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
}

textarea
{
    height: 100px;
    resize: none;
}

.container
{
    margin: 5px auto;
    width: 80%;
    background: rgb(243, 243, 243);
    box-shadow: 5px 5px 2px black;
    padding: 20px;
}
.send_answer
{
    margin: 10px auto;
    margin-bottom: 20px;
    background: rgb(212, 5, 74);
    padding: 10px;
    border: solid white 1px;
    border-radius: 15px;
    color: white;
}

.send_answer:hover
{
    transition: all .2s linear;
    background: rgba(182, 0, 44, .8);
}

.header
{
    display: flex;
    justify-content: space-around;
    background-color: rgb(187, 255, 178);
    padding: 5px;
    font-size: 24px;
}

a
{
    color: green;
    text-decoration: none;
}

.title
{
    text-align: center;
}

#new_question
{
    border-radius: 100%;
    font-size: 32px;
    width: 50px;
    height: 50px;
}

table
{
    margin: 0 auto;
}

table, th, td
{
    border: 2px solid white;
}

textarea
{
    resize: none;
}

.game_title
{
    text-align: center;
}

.game_dev, .game_genre
{
    margin-left: 15px;
}

.game_genre
{
    font-style: oblique;
}

.game_desc
{
    margin: 20px auto;
    width: 80%;
}

.game_review
{
    border: 2px solid white;
    border-radius: 50px;
    padding: 20px;
}

.review_date
{
    text-align: right;
    font-style: italic;
}

.cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card
{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
}

table
{
    border-spacing: 0;
    width: 70%;
    border: 2px solid green;
}

th, td
{
    border-spacing: 0;
    border: 1px solid green;
}

input[type=submit]
{
    border-radius: 0;
    background-color: green;
    color: wheat;
}

input[type=date] {
    width: 100px;
    height: 20px;
}
